
{% if user.is_authenticated %}
{% if posts %}
<div class="container">
  <div class="row">
    {% for post in posts %}
    <div class="col-2 card m-2" style="width: 18rem;">
      {% if post.image %}
      <img src="{{ post.image.url }}" class="card-img-top mt-2">
      {% endif %}
            <div class="card-body">
        {% comment %} <h5 class="card-title"></h5> {% endcomment %}
        <p>
          <span id="boot-icon" class="bi bi-heart" style="font-size: 1rem; -webkit-text-stroke-width: 1.5px; color: rgb(255, 0, 0);"></span>
          {{post.like_users.count}}
        </i></p>
        <p class="card-text">{{post.content}}</p>
        <p>posted by : <a href="{% url 'profile' post.user.username%}">{{post.user}}</a></p>
        <a href="{% url 'posts:detail' post.pk %}" class="btn btn-secondary">detail</a>
          <a href="{% url 'posts:update' post.pk %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'posts:delete' post.pk %}" class="btn btn-danger">Delete</a>

      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endif %}
{% else %}
업로드된 게시물이 없습니다.ㅜㅜ


{% endif %}


